/*
--------------------
       ATOMS
--------------------
*/

:root {
  /* Variables */
  --color-black: #272727;
  --color-white: #ffffff;
  --color-light-gray: #eaeaea;
  --color-gray: #919191;
  --color-dark-gray: #484848;
  --color-blue: #207cc8;
  --color-light-blue: #7eb4eb;
  --color-red: #cf4049;
  --font: "Quicksand Variable", sans-serif;
  --font-weight: 500;
  --font-weight-bold: 700;
  --font-sm: 1rem;
  --font-md: 1.5rem;
  --font-lg: 2rem;
  --font-xl: 2.5rem;
  --font-xxl: 3rem;
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --border-radius: 1rem;
  /* Page styles */
  color: var(--color-text);
  background-color: var(--color-light-gray);
  font-family: var(--font);
  font-weight: var(--font-weight);
  font-size: 18px;
  word-break: break-all;
}

/*
--------------------
      ELEMENTS
--------------------
*/


::selection {
  background-color: var(--color-light-blue);
}

body {
  margin: 0;
}

main,
dc-alert {
  width: min(400px, calc(100vw - 2 * var(--space-md)));
}

h1, h2, h3, h4, h5, h6, b,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: var(--font-weight-bold);
}

h2, h3,
.h2, .h3 {
  margin: var(--space-sm) 0;
}

h4, h5, h6,
.h4, .h5, .h6 {
  font-size: var(--font-md);
  margin: var(--space-sm) 0;
}

h1,
.h1 {
  font-size: var(--font-xxl);
  margin: var(--space-md) 0;
}

h2,
.h2 {
  font-size: var(--font-xl);
}

h3,
.h3 {
  font-size: var(--font-lg);
}

p {
  font-size: var(--font-sm);
  margin: 0;
}

button, input {
  font-family: var(--font);
  font-weight: var(--font-weight);
  font-size: var(--font-sm);
  border: transparent;
  padding: var(--space-xs) var(--space-sm);
  border-radius: calc(2 * var(--space-xs) + var(--font-sm));
  border: 2px solid var(--color-black);
  background-color: var(--color-white);
  overflow: hidden;
}

input::placeholder {
  color: var(--color-gray);
}

button:hover {
  cursor: pointer;
  background-color: var(--color-black);
  color: var(--color-white);
}

button:active {
  background-color: var(--color-dark-gray);
  border-color: var(--color-dark-gray);
  color: var(--color-white);
}

button:disabled,
button:hover:disabled,
button:active:disabled,
input:disabled {
  cursor: default;
  background-color: var(--color-white);
  color: var(--color-gray);
  border-color: var(--color-gray);
}

input:disabled::placeholder {
  color: var(--color-gray);
}

/*
--------------------
     COMPONENTS
--------------------
*/

dc-icon {
  width: 1em;
  height: 1em;
}

dc-home {
  padding-bottom: var(--space-lg);
}

dc-chat {
  display: block;
}

dc-chat ul {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  list-style: none;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  scrollbar-color: var(--color-light-gray) transparent;
}

dc-chat li.line {
  font-style: italic;
}

dc-chat li.block {
  padding: var(--space-xs) var(--space-sm);
  text-align: center;
}

dc-alert {
  position: sticky;
  top: var(--space-sm);
}

dc-room h1 {
  margin-bottom: 0 !important;
}

dc-room div:has(> dc-chat) {
  padding: var(--space-sm) !important;
  height: calc(100vh - (var(--font-xxl) + 2 * var(--space-md)));
}

dc-room input, button {
  padding-top: 0;
  padding-bottom: 0;
}

/*
--------------------
      UTILITY
--------------------
*/

.text-blue {
  color: var(--color-blue);
}

.text-red {
  color: var(--color-red);
}

.text-centered {
  text-align: center;
}

.font-md {
  font-size: var(--font-md);
}

.font-lg {
  font-size: var(--font-lg);
}

.font-bold {
  font-weight: var(--font-weight-bold);
}

.vflex {
  display: flex;
  flex-direction: column;
}

.hflex {
  display: flex;
}

.hinflex {
  display: inline-flex;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.justify-stretch {
  justify-content: stretch;
}

.justify-space-between {
  justify-content: space-between;
}

.flex {
  flex: 1 1 0%;
  min-width: 0;
  min-height: 0;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: end;
}

.align-stretch {
  align-items: stretch;
}

.gap-xs {
  gap: var(--space-xs);
}

.gap-sm {
  gap: var(--space-sm);
}

.gap-md {
  gap: var(--space-md);
}

.gap-lg {
  gap: var(--space-lg);
}

.panel {
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  padding: var(--space-md);
  box-sizing: border-box;
}

.border-black {
  border-color: var(--color-black);
}

.icon-button {
  padding: var(--space-xs);
}

.icon-button > dc-icon {
  display: block;
}