:root {
  /* Variables */
  --color-black: #272727;
  --color-white: #ffffff;
  --color-light-gray: #eaeaea;
  --color-dark-gray: #484848;
  --color-light-blue: #7eb4eb;
  --font: "Quicksand Variable", sans-serif;
  --font-weight: 500;
  --font-weight-bold: 700;
  --font-sm: 1rem;
  --font-md: 1.5rem;
  --font-lg: 2rem;
  --font-xl: 2.5rem;
  --font-xxl: 3rem;
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --border-radius: 1rem;
  /* Page styles */
  color: var(--color-text);
  background-color: var(--color-light-gray);
  font-family: var(--font);
  font-weight: var(--font-weight);
  font-size: 18px;
}

::selection {
  background-color: var(--color-light-blue);
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, b {
  font-weight: var(--font-weight-bold);
}

h2, h3 {
  margin: var(--space-sm) 0;
}

h4, h5, h6 {
  font-size: var(--font-md);
  margin: var(--space-sm) 0;
}

h1 {
  font-size: var(--font-xxl);
  margin: var(--space-md) 0;
}

h2 {
  font-size: var(--font-xl);
}

h3 {
  font-size: var(--font-lg);
}

p {
  font-size: var(--font-sm);
}

button {
  font-family: var(--font);
  font-weight: var(--font-weight);
  font-size: var(--font-sm);
  border: transparent;
  padding: var(--space-xs) var(--space-sm);
  border-radius: calc(2 * var(--space-xs) + var(--font-sm));
  border: 2px solid var(--color-black);
  background-color: var(--color-white);
  overflow: hidden;
}

button:hover {
  cursor: pointer;
  background-color: var(--color-black);
  color: var(--color-white);
}

button:active {
  background-color: var(--color-dark-gray);
  border-color: var(--color-dark-gray);
  color: var(--color-white);
}

header h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: fit-content;
}

dc-icon {
  width: 1em;
  height: 1em;
}

dc-chat {
  height: 50vh;
  width: min(200px, 80vh);
}

dc-chat ul {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  list-style: none;
  overflow-y: auto;
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  scrollbar-color: var(--color-light-gray) transparent;
}

dc-chat p {
  margin: 0;
}

.vflex {
  display: flex;
  flex-direction: column;
}

.hflex {
  display: flex;
}

.hinflex {
  display: inline-flex;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: end;
}

.gap-xs {
  gap: var(--space-xs);
}

.gap-sm {
  gap: var(--space-sm);
}

.gap-lg {
  gap: var(--space-lg);
}

.panel {
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  padding: var(--space-sm);
}